# secrets
vault_pass_1password.sh
*vault_pass*
*.vault_pass
# explicitly allow example file
!vault_pass_1password.sh.example

# editor/tooling
.vscode
.obsidian

# ansible runtime artifacts
*.retry
.ansible/
ansible.log

# python
__pycache__/
*.pyc
.venv/
venv/
