export PROXMOX_VE_ENDPOINT="https://192.168.68.90:8006/"
export PROXMOX_VE_INSECURE="true"
export PROXMOX_VE_API_TOKEN="terraform@pve!tfprovider=$(op read 'op://Proxmox Homelab/Terraform/password')"
export PROXMOX_VE_USERNAME=root@pam
export PROXMOX_VE_PASSWORD=op://Proxmox Homelab/Proxmox root/password
