# {{ ansible_managed }}
# /etc/nut/ups.conf - the UPS hardware itself.
#
# Changing this file requires re-running nut-driver-enumerator, which
# regenerates the nut-driver@<name>.service instance. The playbook's
# handlers do that.

[{{ nut_ups.name }}]
    driver = {{ nut_ups.driver }}
    port = {{ nut_ups.port }}
    desc = "{{ nut_ups.desc }}"
